<div class="container" style="margin-top: 50px;">

	<div class="row text-center">
		<p class="eclogotext">SEO Tool Made With Love by:</p>
	</div>

	<div class="row text-center">
      <%=link_to image_tag("ec-logo.png"), root_path, id: "logoindex" %> 
     </div>

	<div  class="row text-center">
		<div class="col-sm-4 col-sm-offset-4">
			<p>An SEO tool that shows potential issues with your website.</p>
			<%= form_for @user, class:"form-signin" do |f| %>
				<div class="form-group">
					<%= f.search_field :website, placeholder: 'Analyze a site', class: "form-control text-center stuff", size:"140" %>
					<%= f.email_field :email, placeholder: 'Enter your email', class: "form-control text-center stuff", size:"140" %>	
				</div>  
				<%= f.submit "Submit", class: "btn btn-custom stuff" %>
			<% end %>



				<div id='circular' style="display:none;">
					<div id='circular_1' class='circular'></div>
					<div id='circular_2' class='circular'></div>
					<div id='circular_3' class='circular'></div>
					<div id='circular_4' class='circular'></div>
					<div id='circular_5' class='circular'></div>
					<div id='circular_6' class='circular'></div>
					<div id='circular_7' class='circular'></div>
					<div id='circular_8' class='circular'></div>
					<div class='clearfix'></div>
				</div>
		</div> 
	</div>
</div>

<script>

	$(document).ready(
		$('.btn').click(function(){
			 $('.stuff').hide();
			 $('.stuff').hide();
			 $('#circular').show();

		})
	);

</script>

